{
  "plugins": [
    "source-map-support",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@lib": "./lib",
        "@mocks": "./mocks",
        "@tests": "./tests"
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ]
}